<ion-view view-title="{{ $ctrl.station }}">
    <ion-content>
        <ion-refresher pulling-text="Vernieuw..." on-refresh="$ctrl.activate()"></ion-refresher>

        <ion-list ng-if="!$ctrl.departures">
            <ion-item ng-repeat="placeholder in $ctrl.placeholders track by $index">
                <div class="loading-title"></div>
                <div class="loading-subtitle"></div>
            </ion-item>
        </ion-list>

        <ion-list ng-if="$ctrl.departures">
            <ion-item class="item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Zoeken..." ng-model="$ctrl.query">
                <button ng-if="$ctrl.query.length" class="input-button button button-icon ion-android-close" ng-click="$ctrl.query = ''">
                </button>
            </ion-item>

            <ion-item ng-repeat="departure in $ctrl.departures | filter: $ctrl.query" ng-click="$ctrl.share(departure)">
                <span class="item-note" ng-if="::departure.platform">
                    Spoor {{ ::departure.platform }}
                </span>

                <h2>
                    {{ ::departure.destination }}
                </h2>

                <p>{{ ::departure.trainType }}</p>

                <p ng-if="::departure.via">
                    via {{ ::departure.via }}
                </p>

                <p>
                    <i class="ion-clock"></i> {{ ::departure.time }}
                    <span class="assertive" ng-if="departure.delay">
                        ({{ departure.delay }})
                    </span>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>