<ion-view view-title="{{ $ctrl.station }}">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="$ctrl.activate()"></ion-refresher>

        <ion-list ng-if="$ctrl.loading">
            <ion-item ng-repeat="loader in $ctrl.loaders track by $index">
                <div class="loading-title"></div>
                <div class="loading-subtitle"></div>
            </ion-item>
        </ion-list>

        <ion-list ng-if="$ctrl.departures">
            <ion-item class="item-input">
                <input type="search" placeholder="Search" ng-model="$ctrl.query">
            </ion-item>

            <ion-item ng-repeat="departure in $ctrl.departures | filter: $ctrl.query">
                <h2>
                    {{ ::departure.eindbestemming }}
                    <span>
                        - {{ ::departure.treinsoort }}
                    </span>
                </h2>

                <p ng-if="::departure.routetekst">
                    via {{ ::departure.routetekst }}
                </p>

                <p>
                    Departs at {{ ::departure.vertrektijd | date: 'HH:mm' }}
                    <span class="assertive" ng-if="departure.vertrekvertraging">
                        ({{ departure.vertrekvertragingtekst }})
                    </span>
                    <span ng-if="::departure.vertrekspoor._">
                        from platform {{ ::departure.vertrekspoor._ }}
                    </span>
                </p>
            </ion-item>
        </ion-list>

        <p ng-if="$ctrl.error">
            {{ $ctrl.error }}
        </p>
    </ion-content>
</ion-view>