<ion-view view-title="Stations near you">
    <ion-content>
        <ion-refresher
                pulling-text="Find stations again..."
                on-refresh="$ctrl.activate()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="station in $ctrl.stations" ng-click="$ctrl.goToDepartures(station.name)">
                {{ ::station.name }}

                <p class="item-note">
                    {{ ::$ctrl.getDistance(station) }} km
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>